{% extends 'main_template.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/kassa/css/magicsuggest-min.css">
    <link rel="stylesheet" href="/kassa/css/bootstrap-datepicker3.min.css">
    <style>
        .table-fixed thead {
            width: 97%;
        }

        .table-fixed tbody {
            height: 230px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
            display: block;
        }

        .table-fixed tbody td, .table-fixed thead > tr > th {
            float: left;
            border-bottom-width: 0;
        }

        .table-fixed tbody td:hover:nth-child(1) {
            color: #777;
            cursor: pointer;
        }

        .action-icon {
            float: right;
            color: #444;
        }

        .ct-series-a .ct-bar {
            /* Colour of your bars */
            stroke: #3383ff;
            /* The width of your bars */
            stroke-width: 50px;
            /* Yes! Dashed bars! */

        }

    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-xs-12">
                        <legend>Финансовая статистика</legend>
                        <div id="placeholder" style="width: 100%; height: 150px">
                            <div style="text-align: center; padding: 50px 0">
                                <div class="ispinner gray large animating" style="display: inline-block">
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Выберите группу и период</legend>
                        <div class="form-group">
                            <label for="groups" class="sr-only">C</label>
                            <input type="text" id="ms" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <form action="" class="form-inline">
                            <div class="form-group">
                                <label for="start" class="sr-only">C</label>
                                <label for="end" class="sr-only">C</label>
                                <div class="input-group">
                                    <input type="text" id="start" class="form-control datepicker" value="{{ start }}"/>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="getPayersStat(); getMesaggesStat();">
                                            <span class="glyphicon glyphicon-calendar"></span></button>
                                    </div>
                                    <input type="text" id="end" class="form-control datepicker" value="{{ end }}"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px">
                    <div class="col-md-6">
                        <legend>Начисления <a href="javascript:payersInCSV();" title="Скачать таблицу в Excel"><i
                                        class="zmdi zmdi-download action-icon"></i></a></legend>
                        <div class="table-responsive" id="payersStat">
                            <div style="text-align: center; padding: 100px 0">
                                <div class="ispinner gray large animating" style="display: inline-block">
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <legend>Расходы на смс <a href="javascript:messagesStatInCSV();" title="Скачать таблицу в Excel"><i class="zmdi zmdi-download action-icon"></i></a></legend>
                        <div class="table-responsive" id="messagesStat">
                            <div style="text-align: center; padding: 100px 0">
                                <div class="ispinner gray large animating" style="display: inline-block">
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                    <div class="ispinner-blade"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fin">
        <div class="modal-dialog modal-lg" id="modal-dialog">
            <div style="text-align: center;     padding:50px 49%">
                <div class="ispinner white large animating">
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                    <div class="ispinner-blade"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/kassa/js/jquery.flot.min.js"></script>
    <script src="/kassa/js/magicsuggest-min.js"></script>
    <script src="/kassa/js/bootstrap-datepicker.min.js"></script>
    <script src="/kassa/js/locales/bootstrap-datepicker.ru.min.js"></script>
    <script title="flot">
        var ms = $('#ms').magicSuggest({
            maxSelection: 100,
            placeholder: 'Выберите группы',
            data: '/kassa/finance/groups',
            valueField: 'id',
            displayField: 'name'
        });
        $(document).ready(function () {
            getPayersStat();
            getMesaggesStat();
            $.get('/kassa/finance/summary', function (data) {
                var dataset = [{label: "&nbsp;Сумма", data: data, color: "#5482FF"}];
                $.plot($("#placeholder"), dataset, options);
                $("#placeholder").UseTooltip();
            });


        });
        var ticks = [[0, "Январь"], [1, "Февраль"], [2, "Март"], [3, "Апрель"], [4, "Май"], [5, "Июнь"], [6, "Июль"], [7, "Август"], [8, "Сентябрь"], [9, "Октябрь"], [10, "Ноябрь"], [11, "Декабрь"]];

        var options = {
            series: {
                bars: {
                    show: true
                }
            },
            bars: {
                align: "center",
                barWidth: 0.5
            },
            xaxis: {
                ticks: ticks
            },
            yaxis: {
                tickFormatter: function (v, axis) {
                    return v;
                }
            },
            legend: {
                noColumns: 0,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: true,
                borderWidth: 2,
                backgroundColor: {colors: ["#ffffff", "#EDF5FF"]}
            }
        };

        function gd(year, month, day) {
            return new Date(year, month, day).getTime();
        }

        var previousPoint = null, previousLabel = null;

        $.fn.UseTooltip = function () {
            $(this).bind("plothover", function (event, pos, item) {
                if (item) {
                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                        previousPoint = item.dataIndex;
                        previousLabel = item.series.label;
                        $("#tooltip").remove();

                        var x = item.datapoint[0];
                        var y = item.datapoint[1];

                        var color = item.series.color;

                        //console.log(item.series.xaxis.ticks[x].label);

                        showTooltip(item.pageX,
                                item.pageY,
                                color,
                                "<strong>" + item.series.label + "</strong><br>" + item.series.xaxis.ticks[x].label + " : <strong>" + y + "</strong> Грн");
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        };

        function showTooltip(x, y, color, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 40,
                left: x - 120,
                border: '2px solid ' + color,
                padding: '3px',
                'font-size': '9px',
                'border-radius': '5px',
                'background-color': '#fff',
                'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                opacity: 0.9
            }).appendTo("body").fadeIn(200);
        }

        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            language: "ru",
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom auto"
        });
    </script>
    <script>
        function processData(id) {
            $('#' + id).html("<div style=\"text-align: center; padding: 100px 0\">" +
                    "<div class=\"ispinner gray large animating\" style=\"display: inline-block\">" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div>" +
                    "<div class=\"ispinner-blade\"></div></div></div>");
        }
        function getGroups() {
            var groups = ms.getValue().toString();
            if (groups == '') {
                groups = 'all';
            }
            return groups;
        }
        function getPayersStat() {
            processData('payersStat');
            var groups = getGroups();
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/kassa/finance/payers/startDate/' + $('#start').val() + '/endDate/' + $('#end').val() + '/groups/' + groups, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                $('#payersStat').html(xhr.responseText);
            }
        }

        function getMesaggesStat() {
            processData('messagesStat');
            var groups = ms.getValue().toString();
            if (groups == '') {
                groups = 'all';
            }
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/kassa/finance/summarySms/startDate/' + $('#start').val() + '/endDate/' + $('#end').val() + '/groups/' + groups, true);
            xhr.send();
            console.log('sms');
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4) return;
                $('#messagesStat').html(xhr.responseText);
            }

        }
        function payersInCSV() {
            window.open('/kassa/finance/payersInCSV/startDate/' + $('#start').val() + '/endDate/' + $('#end').val() + '/groups/' + getGroups(), '_blank');
        }
        function messagesStatInCSV() {
            window.open('/kassa/finance/messagesStatInCSV/startDate/' + $('#start').val() + '/endDate/' + $('#end').val() + '/groups/' + getGroups());
        }

    </script>
{% endblock %}